body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  padding: 20px;
  color: #333;
}


h1, h2, h3 {
  text-align: center;
}

a {
  color: blue;
}


hr {
  height: 2px;
  background-color: #ccc;
  border: none;
  margin: 20px 0;
}


.flex-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}


.flex-column {
  flex: 1;
  background-color: white;
  padding: 15px;
  text-align: justify;
}


@media screen and (max-width: 600px) {
  
  
}